@import '../../styles/Shared.scss';

.subscription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;

    i.icon {
        color: $red;
    }

    .new-videos-count {
        color: $grey;
    }
}