.video-container {
    width: 100%;
    position: relative;
    // padding-top: ;
    // display: block;
    // content: "";

}

.video-player {
    min-height: 480px;
    width: 59.25%;
    height: 100%;
    position: absolute;
    top: 0;

}