@import '../../styles/Shared.scss';

.ui.menu.fixed.side-nav {
    background-color: #f5f5f5;
    margin-top: $sidebar-height;
    overflow-y: auto;
    padding-bottom: $sidebar-height;

    .sidebar-item:hover {
        background: #ebebeb;
    }
}

.side-nav.ui.vertical.menu {
    width: 17rem;
}